.order-form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.75rem;

    &__item {        
        flex: 0 0 auto;
        width: 33.333%;
        padding: 0 0.75rem;
        margin: 0 0 1.5rem 0;
        box-sizing: border-box;

        @include sm { 
            width: 100%;
        }

        &_wide {
            width: 66.666%;

            @include sm { 
                width: 100%;
            }

        }

    } 

    &__footer {    
        padding: 1.5rem 0 0 0;    
        width: 100%;
        text-align: center;

        @include sm { 
            padding: 1.5rem 0.75rem 0 0.75rem;
        }

    }

}

